@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.special-font {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components {
  .swiper-pagination {
    @apply mt-6 flex justify-center;
  }

  .swiper-pagination-bullet {
    @apply w-3 h-3 bg-gray-400 opacity-70 rounded-full inline-block mx-1 transition-all duration-300;
  }

  .swiper-pagination-bullet-active {
    @apply bg-[#008300] opacity-100 scale-110;
  }
} */

